.flex-item-one{
    border-style: none;
}
.flex-item-two{
    border-style: none;

}
.flex-item-three{
    border-style: none;

}
.flex-item-four{
    border-style: none;

}


.form-group .form-control{
   width: 33%;
}